body {
    background-color: #00028bcc;
}
.form {
    background-color:#ecd269;
   
    max-width:1008px;
  
}

.form-inline label {
    margin-right: 10px;
}

.form-inline {
    justify-content: center;
    margin-left: -4px;
}



.table .thead-dark th {
    background-color: #3a628a;
}

.table-sm th {
    font-size:small;
}

.form-control-sm {
    margin-top: 10px;
}

#add {
    margin: 10px;
}


#note {
    vertical-align: unset;
    margin-top: unset;

}

/* EDIT TABLE ADDITION */
#editTable{
	display: flex;
	padding-top: 20px;
	margin: 0 auto;
    justify-content: center;
    

}

@media screen and (min-width: 768px){
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 1 0 16.666667% !important;
        max-width: 44.666667%;
    }

}


#editTable form {
    display: grid;
    place-items: center;

}

.input-container {
    display: none;
}

.block {
    display: block;
}

.bg {
    background-color: #ad9a9a;
}

.editBtn{
	padding: .13rem .8rem;
	font-size: 0.65rem;
	line-height: 1.5;
	border-radius: .2rem;
	font-weight: bold;
    display: block;
    margin: auto;
}

.table-striped tbody tr:nth-of-type(1n+1) {
	background-color: rgba(0,0,0,.05);
}

.trow {
    text-align: center;
}

.editInput .saveBtn {
   height: calc(1.3em + .2rem + 2px);
   display: block;
   margin: auto;
   width: 40%;
}

.btnsRow {
   display: flex;
   justify-content: space-evenly;
}

.btnsRow button {
    margin: .320rem;
}

.search-container {
    margin: 10px !important;
}

.search-container input {
    height: calc(.95em + .80rem + 3px);
}

.search-container button {
    padding: .275rem .65rem;
    position: relative;
    right: 36px;
}

.search-container button:hover {
   color: #72afe4;
}

.mr-sm-2 {
    margin-right: unset !important;
    align-items: baseline !important;

}

.form-control-sm {
    margin-right: 10px;
}

@media screen and (max-width:576px) {
    label {
        text-align: center !important;
    }
    .mb-2 {
        flex-flow: column wrap !important;
    }

    .input-group > .form-control {
        width: 100% !important;
    }

    .form {
        height: 42vh;
        overflow: scroll;
    }

    .mr-sm-2 {
        align-items: center !important;
    }
    
}

@media screen and (min-width: 720px) {
    #editTable {
        max-width: 50%;
    }
}

.table thead {
    background-color: #18222b;
    color: white
}

.big-t td {
    background-color:#f2f2f2;
}

.no-records-found {
    display:none;
}

.saved {
    margin-top: 15px;
}

.search, .columns {
    display: none !important;
}

#table_filter {
    margin: -15px 0;
}

#table_filter  label{
    text-align: center;
}

#table_length {
    margin: 15px 0;
}